<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="admin/base::Layout(~{::section})">

  <head>
    
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
   <title>Online Pharmacy</title>
  </head>

  <body>
  <section class="mt-3">
	<h3 class="text-center mt-5">weclome To Admin Panel</h3>
	<div class="container">
		<div class="row g-0">
			<div class="col-md-6 cl">
				<div class="img-parent">
				<img src="https://img.freepik.com/free-vector/admin-concept-illustration_114360-2139.jpg?w=2000" />
				</div>
				
			</div>
			<div class="col-md-6 d-flex justify-content-center flex-column align-items-center">
				<h3 class="text-center mb-3">Quick Links</h3>
				<h4><a  class="text-decoration-none" href="">View Customers</a></h4>
				<h4><a  class="text-decoration-none" href="">View Available Medicines</a></h4>
				<h4><a class="text-decoration-none" href="">View Distributors</a></h4>
			</div>
		</div>
	</div>
  </section>
    
  
  </body>

</html>