<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::Layout(~{::section})">

  <head>
    <title>Sign-up</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> 
  </head>

  <body>
  <section class="mt-3">
	 	<h2 class="text-center">Sign Up Now</h2>
	 	<div class="d-flex justify-content-center">
	 	<div class="card" style="width: 38rem;">
	 		<div class="card-body" >
	 			<form th:action="@{/register}" method="POST" th:object="${user}" >
	 			
	 				<div class="mb-3">
					  <label for="exampleFormControlInput1" class="form-label">Username</label>
					  <input required name="username" type="text"  class="form-control" id="exampleFormControlInput1" placeholder="Enter Username">
					</div>
	 			
	 				<div class="mb-3">
					  <label for="exampleFormControlInput1" class="form-label">Email</label>
					  <input required name="email" type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
					</div>
					
					<div class="mb-3">
					  <label for="exampleFormControlInput1" class="form-label">Password</label>
					  <input required name="password" type="password" class="form-control" id="exampleFormControlInput1" placeholder="Enter Password">
					</div>
					
					<div class="mb-3">
					  <label for="exampleFormControlInput1" class="form-label">Select Your role</label>
					  <select name="roles" class="form-control">
					  	<option value="ROLE_ADMIN">ADMIN</option>
					  	<option value="ROLE_CUSTOMER">CUSTOMER</option>
					  </select>
					</div>
					<button class="btn btn-success">Sign up</button>
	 			</form>
	 		</div>
	 	</div>
	 	</div>
  </section>
  </body>

</html>