<!DOCTYPE html>

<html lang="en"  xmlns:th="http://www.thymeleaf.org" th:replace="customer/base::Layout(~{::section})">

  <head>
    
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
   <title>Online Pharmacy:Customer</title>
  </head>

  <body>
  <section class="mt-3">
	<div class="container">
				<div class="card">
					<div class="card-header text-center">Medicine Available</div>
					<div class="card-body">
						<table class="table">
							  <thead>
							    <tr>
							      <th scope="col">Id</th>
							      <th scope="col">Medicine Name</th>
							      <th scope="col">Available quantity</th>
							      <th scope="col">Price</th>
							      <th scope="col">Action</th>
							    </tr>
							  </thead>
							  <tbody>
							  <tr th:each="Medicine: ${medList}">
							      <th scope="row" th:text="${Medicine.m_id}"></th>
							      <td th:text="${Medicine.med_name}" ></td>
							      <td th:text="${Medicine.m_qty}"></td>
							      <td th:text="${Medicine.m_price}"></td>
							      <td>
							      	<a th:href="@{'/customer/addToCart/'+ ${Medicine.m_id}}" class="btn btn-success">Add To Cart</a>
							      </td>
							    </tr>
							  </tbody>
							</table>
					</div>
				</div>
			</div>
  </section>
    
  
  </body>

</html>